.post {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
  height: 60px;
}

.post .post-title {
  font-size: 1.25em;
  margin: 0;
  font-weight: 500;
  text-shadow: 2px 2px black;
}

.post .post-description {
  font-size: 1em;
  margin: 0;
}

.post .post-written-by {
  font-size: 1em;
  margin: 0;
}

.post a {
  color: white;
  text-decoration: none;
}

.post a:hover {
  font-size: 1.15em;
}
